ul {
    list-style-type: none;
}

body {
    font-family: Verdana, sans-serif;
}

a {
    font-style: normal;
}

.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

    .month ul {
        margin: 0;
        padding: 0;
    }

    .month ul li {
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }

    .month .prev {
        float: left;
        padding-top: 10px;
    }

    .month .next {
        float: right;
        padding-top: 10px;
    }

.weekdays {
    margin: 0;
    padding: 10px 0;
}

    .weekdays li {
        display: inline-block;
        width: 14.14%;
        color: #666;
        text-align: center;
        float: left;
    }

.days {
    padding: 10px 0;
    margin: 0;
}

    .days li {
        list-style-type: none;
        display: inline-block;
        width: 14.14%;
        text-align: center;
        margin: 0px;
        font-size: 12px;
        color: #777;
        border: 1px solid black;
        float: left;
    }
