.logo {
    margin-top:175px;
    margin-right:-50px;
    margin-left:400px;
}

#blurb {
    display:inline-block;
    vertical-align:bottom;
}

#text {
    line-height:20px;
    margin-bottom:0px;
}

#logo {
    display:inline-block;
    vertical-align:bottom;
    max-width:200px;
}

.acc_creat {
    max-width:250px;
    margin-top:75px;
}

#displayOptions {
    list-style-type: none;
    display: none;
    width: 200px;
    margin: 0;
    padding: 0;
}

#displayOptions li {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
}

#displayOptions li:hover {
    background-color: #444;
    color: white;
} 

#eventOptionToggle {
    clear: right;
}

#error-message {
    color: red;
}