@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div align="center">
    <div class="box-shadow-login boxbgcolor">
        <h1><span>Your email has been confirmed.<br /><br />Login to use Beryl Calendar.</span></h1>
        <br />
    </div>
</div>
