@model Expeditions.Models.Expedition

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Expedition</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Season" class="control-label"></label>
                <input asp-for="Season" class="form-control" />
                <span asp-validation-for="Season" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                @*<label asp-for="StartDate" class="control-label"></label>*@
                Date Started
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="TerminationReason" class="control-label"></label>*@
                Why was the expedition terminated?
                <input asp-for="TerminationReason" class="form-control" />
                <span asp-validation-for="TerminationReason" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="OxygenUsed" class="control-label"></label>
                <input asp-for="OxygenUsed" class="form-control" />
                <span asp-validation-for="OxygenUsed" class="text-danger"></span>
            </div>*@
            <div class="form-group form-check">
                @Html.CheckBox("OxygenUsed") Was O2 used?
            </div>
            <div class="form-group">
                @*<label asp-for="PeakId" class="control-label"></label>*@
                Which peak was climbed or attempted?
                <select asp-for="PeakId" class="form-control" asp-items="ViewBag.PeakId"></select>
            </div>
            <div class="form-group">
                @*<label asp-for="TrekkingAgencyId" class="control-label"></label>*@
                Trekking agency used
                <select asp-for="TrekkingAgencyId" class="form-control" asp-items="ViewBag.TrekkingAgencyId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
