@model IEnumerable<BerylCalendar.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}
<div style="float:right;border-left:0;">
    <button id="eventOptionToggle" class="btn btn-info">Show</button>
    <br><br>
    <ul id="displayOptions">
        <li>
            <p id="displayColorToggle">Enable Colors</p>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div >
            @using (Html.BeginForm("Display", "Event"))
            {
                <div class="input-group mb-3 ">
                    <input type="text" name="filter" class="form-control" />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                    <small id="searchExample" class="form-text text-muted">
                        You may search between two different dates or an event type. Event types are: Shopping, Visit, Meal, and Activity. Example of a search between dates: 1/1/2021 5/1/2021.
                    </small>
                </div>
            }
            <div class="list-group">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action event" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                <small class="eventType">@Html.DisplayFor(modelItem => item.Type.Name)</small>
                            </div>
                        </a>
                    }
                }
                else
                {
                    <p>The are no events for the current day.</p>
                }
            </div>
        </div>
        @* <div class="col-md-4">
            <div class="row">

            </div>
            <div class="row">

            </div>
        </div> *@
    </div>
</div>

@section Scripts {
    @if (ViewData["status"] != null)
    {
    <script language="javascript">
        alert("You did not enter two dates or a type. Example: 1/1/2021 4/24/2021 or Shopping.");
    </script>
    }
}