@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightgrey">
    <div align="center">
        <div class="container box-shadow-login boxbgcolor">
            <div row>
                <div col>
                    <span><b>Western Oregon University - CS 460-462 Software Engineering I, II and III - Senior Capstone Course</b></span><br /><br />
                </div>
            </div>
            <div row>
                <div col>
                    <span><b>Hayden Orn</b></span><br />
                    <span>https://github.com/HaydenOrn/TeamBlackberry </span><br /><br />
                </div>
                <div col>
                    <span><b>Jonathan Williams</b></span><br />
                    <span>https://github.com/jwilliams2019/TeamBlackberry </span><br /><br />
                </div>
                <div col>
                    <span><b>Ryan Pelky</b></span><br />
                    <span>https://github.com/rpelky/TeamBlackberry </span><br /><br />
                </div>
            </div>
        </div>
    </div>
</body>