@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightgrey">
    <div class="container">
        <div class="row p-4">
            <div class="col-md-5 p-3">
                <h1 class="text-center">Welcome to Beryl</h1>
                <p class="text-justify">
                    This a schedule tracking application that allows users to add
                    various events and display them on an adjustable calendar.
                </p>
            </div>
            <div class="col-md-7 text-center p-2">
                <img class="card-img" src="https://via.placeholder.com/728x480.png?text=Future+Demo+Video" alt="Placeholder Image" />
                <a class="btn btn-primary m-3" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </div>
    </div>
</body>