@model int

<div>
    <h4>Enter your email address, and a link will be sent to change your password.</h4>

    <p id="error-message"> </p>
    @using (Html.BeginForm("PasswordChangeRequest", "Home"))
    {
        <div class="input-group mb-3 ">
            <input type="text" name="emailForPass" class="form-control" />
            <input type="submit" value="Send" class="btn btn-primary" />
        </div>
        <small id="Email" class="form-text text-muted">
            EX: example@site.com
        </small>
    }
</div>


<script>
    if (@Model == 1){
        alert("That is not a recognized email address. Try registering for an account today!");
    } else if (@Model == 2) {
        alert("You submitted an invalid form. Please enter information in the appropriate places.");
    }
</script>


