@model int


<div align="center">
    <div class="col-md-4 box-shadow-login boxbgcolor">
        <br>
        <h3>Reset Password</h3>
        <br>
        @using (Html.BeginForm("PasswordChange", "Home"))
        {
            <div class="form-group">
                <label for="email">Confirm your email:</label>
                <input type="text" name="email" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="newPassword">Enter new password:</label>
                <input type="text" name="newPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label for="newPasswordConfirm">Confirm new password:</label>
                <input type="text" name="newPasswordConfirm" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
                <small id="searchExample" class="form-text text-muted">
                    
                </small>
            </div>
        }
    </div>
</div>

<script>
    if (@Model == 1){
        alert("The two password entries must match");
    }
</script>

