@model string

@using (Html.BeginForm("PasswordChange", "Home"))
{
    <div class="input-group mb-3 ">
        <input type="text" name="email" value=@ViewData["email"] class="form-control" hidden/>
        <input type="text" name="newPassword" class="form-control" />
        <input type="submit" value="Submit" class="btn btn-primary" />
        <small id="searchExample" class="form-text text-muted">
            enter new password.
        </small>
    </div>
}